@tailwind base;
@tailwind components;
@tailwind utilities;

/* Index */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 20px;
}

.card__navigate {
    position: absolute;
    cursor: pointer;
}

.card__navigate--before {
    left: 0;
}

.card__navigate--next {
    right: 0;
}

.livro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid gray;
    background-color: lightyellow;
    padding: 5px;
    border-radius: 5px;
}

/* SHOW */

.info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
    max-width: 80rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.info__detalhes {
    min-width: 200px;
}

@media only screen and (max-width: 676px) {
    .info {
        flex-wrap: wrap;
    }
}